<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href = "@{/css/style.css}" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Update Inventory</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
crossorigin="anonymous">

</head>
<body>
	<div align="center">
	
		<div class="details"><h1>Update Inventory</h1></div>
		
		<form action="#" th:action="@{/save}" th:object="${inventory}" method="post">
		<div class = "main">
			
			<table class="table table-borderless">
				<tr>
					<td class = "name">Inventory ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>
				
				<tr>
					<td class = "name">Item Name:</td>
					<td><input type="text" th:field="*{name}"/></td>
				</tr>
				<tr>
					<td class = "name" >Inventory Type:</td>
					<td><input type="text" th:field="*{type}"/></td>
				</tr>
				<tr>
					<td class = "name">Quantity:</td>
					<td><input type="text" th:field="*{quantity}"/></td>
				</tr>
				<tr>
					<td class = "name">Item Price:</td>
					<td><input type="text" th:field="*{price}"/></td>
				</tr>
				<tr>
					<td class = "name">Description:</td>
					<td><input  type="text" th:field="*{description}"/></td>
				</tr>
				<tr>
					<td class = "name">Date Of Accept:</td>
					<td><input type="date" th:field="*{dateaccept}"/></td>
				</tr>
				<tr>
					<td class = "name">Date Of Issue:</td>
					<td><input type="date" th:field="*{dateissue}"/></td>
				</tr>
				<tr>
					<td colspan="2"><button class = "submit" type="submit">Add Item</button></td>
				</tr>
			
			
			</table>
		
		</div>
		</form>
		
	</div>

</body>
</html>